html {
    font-size: calc(.7503904216553878rem + .31233732431025507vw);
}

@media screen and (max-width: 3840px) {
    html {
        font-size: calc(.7503904216553877rem + .3123373243102551vw);
    }
}

@media screen and (max-width: 1919px) {
    html {
        font-size: calc(.37382567849686854rem + .626304801670146vw);
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: calc(.8438475546305931rem + .10405827263267431vw);
    }
}

@media screen and (max-width: 479px) {
    html {
        font-size: calc(.7497384937238494rem + .41841004184100417vw);
    }
}

.w-richtext > :first-child {
    margin-top: 0;
}

.w-richtext ol li:last-child,
.w-richtext ul li:last-child,
.w-richtext > :last-child {
    margin-bottom: 0;
}

.clickable-off {
    pointer-events: none;
}

.clickable-on {
    pointer-events: auto;
}

.div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

main:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}

.container-large,
.container-medium,
.container-small {
    margin-right: auto !important;
    margin-left: auto !important;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

section[class^=odometer_] {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, .2);
}

._100-vmin {
    min-height: calc(100vmin - 2rem);
    overflow: hidden;
}

section[class^=odometer_]:first-of-type {
    padding-top: 2rem;
}

section.odometer_06 {
    padding-bottom: 2rem;
}

@media (max-width: 767px) {
    section[class^=odometer_] {
        padding: 

